@import "variables";

.article-list__article-summary {
  border-bottom: 1px solid;
  border-color: rgba(0,0,0,.1);
  p {
    font-size: $p-font-size * 0.95;
  }
}

.article-summary__article-title {
  span { // date
    font-size: $p-font-size * 0.46;
    color: rgba(0, 0, 0, 0.32);
    font-weight: 300;
  }
  font-size: $p-font-size * 2.3;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.2em;
  margin-top: 1em;
}

.article-summary__readmore {
  line-height: $p-font-size * 3;
  color: $maroon;
}
a.article-summary__readmore:hover {
  color: $maroon;
  border-color: $maroon;
}

.article {
  h3 {
    margin-top: 1.5em;
  }
}

.article pre, 
.article-list__article-summary pre {
  font-size: $p-font-size * 0.7;
  line-height: $p-font-size * 1.25;
  border: none;
  border-left: 2px solid rgba(176, 43, 44, 0.83);
  border-radius: 0;
  background-color: #fff;
  padding: 10px 0px 10px 20px;
  margin: 0 0 1.8em 0px;
}

h1.article__article-title {
  font-size: $p-font-size * 2.9;
  margin-bottom: $p-font-size * 1;
  font-weight: bold;
  color: #333;
}
