.article-list__article-summary {
  border-bottom: 1px solid;
  border-color: rgba(0,0,0,.1);
  p { color: #777; }
}

.article-summary__article-title {
  span {
    font-size: 0.48em;
    color: rgba(0,0,0,.32);
    font-weight: 300;
  }
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
}

.article-summary__readmore {
  line-height: 3em;
  color: #888;
  color: #B02B2C;
}

.article {
  h3 {
    margin-top: 1.5em;
  }
}

.article pre, 
.article-list__article-summary pre {
  font-size: 0.77em;
  line-height: 1.25em;
  border: none;
  border-left: 2px solid rgba(176, 43, 44, 0.83);
  border-radius: 0;
  background-color: #ffffff;
  padding: 10px 0px 10px 20px;
  margin: 0 0 1.8em 0px;
}

h1.article__article-title {
  font-size: 2.5em;
  margin-bottom: 1.5em;
  font-weight: bold;
  color: #333;
}
