@import "variables";

ul li { font-size: $p-font-size; line-height: 1.5em }
pre code { line-height: 1.5em; }
code { font-size: 80%; }

.article-list__article-summary {
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
}

.article__middle-dot {
  padding-right: .45em;
  padding-left: .45em;
  font-size: 1em;

  &:after {
    content: "·";
  }
}

.article-summary__article-title {
  font-family: $article-summary-title-font;
  font-size: $p-font-size * $heading-multiplication;
  font-weight: $heading-weight;
  color: $midnightblue;
  margin-bottom: 0.2em;
  margin-top: 1em;
  letter-spacing: 0px;

  .article-summary__published-date {
    font-family: $article-summary-title-date-font;
    letter-spacing: 0px;
    font-size: $p-font-size * $article-summary-title-date-multiplication;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
    padding-left: 2px;
  }

  a {
    color: $midnightblue;
  }
}

.article-summary__readmore {
  line-height: $p-font-size * 3;
}

a.article-summary__readmore:hover {
  color: $midnightblue;
}

.article h3 {
  font-size: $p-font-size * 1.28;
  margin-top: 1.7em;
  margin-bottom: 0.8em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ddd;
}

.article pre, 
.article-list__article-summary pre {
  word-break: break-word;
  font-size: $p-font-size * 0.7;
  line-height: $p-font-size * 1.25;
  border: none;
  border-left: 2px solid rgba(176, 43, 44, 0.83);
  border-radius: 0;
  background-color: #F7F7F7;
  padding: 10px 0px 10px 20px;
  margin: 0 0 1.8em 0px;
}

h1.article__article-title {
  font-family: $article-page-title-font;
  font-size: $p-font-size * $heading-multiplication * 1.1;
  font-weight: $heading-weight;
  margin-bottom: 0px;
}

.article__published-date {
  font-family: $article-title-date-font;
  font-size: $p-font-size * 0.9;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 300;
  padding-left: 3px;
  margin-bottom: 35px;
}
