@import "variables";

p { font-size: $p-font-size; }
ul li { font-size: $p-font-size; }
pre code { line-height: 1.5em; }
code { font-size: 85%; }

.article-list__article-summary {
  border-bottom: 1px solid;
  border-color: rgba(0,0,0,.1);
  p {
    // font-size: $p-font-size * 0.95;
  }
}

.article-summary__article-title {
  span { // date
    font-family: $article-title-date-font;
    letter-spacing: 0px;
    font-size: $p-font-size * 0.5;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
    padding-left: 2px;
    letter-spacing: 0px;
  }

  font-family: $article-page-title;
  font-size: $p-font-size * 1.9;
  font-weight: $heading-weight;
  color: #333;
  margin-bottom: 0.2em;
  margin-top: 1em;

  a {
    color: #333;
  }
}

.article-summary__readmore {
  line-height: $p-font-size * 3;
  color: $maroon;
}

a.article-summary__readmore:hover {
  color: $maroon;
  border-color: $maroon;
}

.article {
  h3 {
    font-size: $p-font-size * 1.5;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
  }
}

.article pre, 
.article-list__article-summary pre {
  word-break: break-word;
  font-size: $p-font-size * 0.7;
  line-height: $p-font-size * 1.25;
  border: none;
  border-left: 2px solid rgba(176, 43, 44, 0.83);
  border-radius: 0;
  background-color: #F7F7F7;
  padding: 10px 0px 10px 20px;
  margin: 0 0 1.8em 0px;
}

h1.article__article-title {
  span { // date
    font-family: $article-title-date-font;
    font-size: $p-font-size * 0.5;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
    padding-left: 3px;
    letter-spacing: 0px;
  }

  font-family: $article-page-title;
  font-size: $p-font-size * 1.9;
  font-weight: $heading-weight;
  color: #333;
}

.tags {
  display: none;
  font-size: 0.8em;
  max-width: 200px;
  font-size: 0.9em;
  text-align: right;
}

.pagination {
  display: none;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 0.9em;
  
  a { font-weight: 300; }
}

.pagination-mobile {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 0.9em;
  display: block;
  margin-top: 15px;
}

.blockquote {
  font-size: 1em;
  color: #333;
}
