@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

@font-face {
  font-family: "Charter";
  src: url('/webfonts/Charter.eot'); /* IE9 Compat Modes */
  src: url('/webfonts/Charter.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/webfonts/Charter.woff2') format('woff2'), /* Super Modern Browsers */
       url('/webfonts/Charter.woff') format('woff'), /* Pretty Modern Browsers */
       url('/webfonts/Charter.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/webfonts/Charter.svg#svgFontName') format('svg'); /* Legacy iOS */
} 
