@import "variables";

body {
  font-weight: 400;
  font-family: $body-font, Arial, Helvetica, Geneva, sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.7);
  color: $darkblue;
  padding-top: 40px;
  background: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font, Arial, Helvetica, Geneva, sans-serif;
  font-weight: $sub-heading-weight;
  line-height: normal;
  margin-bottom: .5em;
  line-height: 1.2em;
  color: rgba(0, 0, 0, 0.88);
  color: $midnightblue;
  letter-spacing: $heading-letter-spacing;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: rgba(0, 0, 0, 0.88);
  border-bottom: 1px solid transparent;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: rgba(0,0,0,.98);
  border-color: rgba(0,0,0,.4);
}

h1.page-header {
  font-size: $p-font-size * 2.5;
  font-weight: $heading-weight;
  color: $midnightblue;
  border-bottom: none;
}

p {
  font-size: $p-font-size;
  line-height: $p-line-height;
  margin-bottom: $p-margin-bottom;
  margin-top: $p-margin-top;

  a {
    // border-bottom: 1px dotted #333;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
  }
  
  a.fa {
    border-bottom: none;
  }
}

li a {
  border-bottom: 1px dotted #333;
}

a {
  color: #444;
}

a:active,
a:focus,
a:hover {
  color: #444;
  text-decoration: none;
  border-bottom: 1px solid #333;
  // border-bottom: 1px solid rgba(0, 0, 0, .4);
}

.wrapper {
  margin: 0 0.5%;
}

.container {
  max-width: $container-width;
  margin: auto;
}

ul li, 
ol li {
  line-height: 2em;
}

.tags {
  display: none;
  font-size: 0.8em;
  max-width: 200px;
  font-size: 0.9em;
  text-align: right;
}

.tags-link {
  color: rgba(0, 0, 0, 0.5)
}

.tags-link:focus,
.tags-link:hover,
.tags-link:active {
  color: rgba(0, 0, 0, 0.7);
}

.pagination {
  display: none;
  font-weight: 300;
  font-size: 0.9em;
  
  a { font-weight: 300; }
}

.pagination-mobile {
  font-weight: 300;
  font-size: 0.9em;
  display: block;
  margin-top: 15px;
}

.blockquote {
  font-size: 1em;
  color: #333;
}
