body {
  padding-top: 70px;
  font-weight: 400;
  // font-family: "Open Sans", Arial, Helvetica, Geneva, sans-serif;
  // font-family: "Droid Serif", Arial, Helvetica, Geneva, sans-serif;
  font-family: "Merriweather", Arial, Helvetica, Geneva, sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Arial, Helvetica, Geneva, sans-serif;
  font-weight: 200;
  line-height: normal;
  margin-bottom: .5em;
  line-height: 1.2em;
  letter-spacing: -1px;
  color: #B02B2C;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  border-bottom: 1px solid transparent;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: rgba(0,0,0,.98);
  border-color: rgba(0,0,0,.4);
}

p {
  font-size: 1.1em;
  line-height: 1.8em;
  margin-bottom: 1.6em;
}

a {
  color: #444;
  border-bottom: 1px solid transparent;
}

a:active,
a:focus,
a:hover {
  color: #444;
  text-decoration: none;
  border-color: rgba(0,0,0,.4);
}

.wrapper {
  margin: 0 0.5%;
  padding: 2.5% 5% 7.5%;
}

.container {
  max-width: 650px;
  margin: auto;
}

.navbar-customlinks {
  padding: 15px 15px;
  font-size: 1.2em;
  line-height: 1em;
  height: 50px;
  font-family: "Philosopher";
}

.navbar-customlinks--right{
  float: right;
}
.navbar-customlinks--left{
  float: left;
}

.logo__logo-text {
  font-size: 2em;
  font-family: "Philosopher";
}

.navbar-default {
  background-color: #fff;
  border-color: #fff;
}
