body {
  padding-top: 70px;
  font-weight: 400;
  font-family: "Open Sans", Arial, Helvetica, Geneva, sans-serif;
  font-family: "Droid Serif", Arial, Helvetica, Geneva, sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Arial, Helvetica, Geneva, sans-serif;
  font-weight: 200;
  line-height: normal;
  margin-bottom: .5em;
  line-height: 1.2em;
  letter-spacing: -1px;
  color: #B02B2C;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  border-bottom: 1px solid transparent;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: rgba(0,0,0,.98);
  border-color: rgba(0,0,0,.4);
}

p {
  font-size: 1.13em;
  line-height: 1.8em;
  margin-bottom: 1.8em;
}

a {
  color: #444;
  border-bottom: 1px solid transparent;
}

a:active,
a:focus,
a:hover {
  color: #444;
  text-decoration: none;
  border-color: rgba(0,0,0,.4);
}

.wrapper {
  margin: 0 1%;
  padding: 7.5% 5% 7.5%;
}

.container {
  max-width: 650px;
  margin: auto;
}

.logo {
  .logo__logo-text {
    margin: 0px;
    line-height: 1em;
  }
  position: fixed;
  display: block;
  top: 0px;
  left: 10px;
}

.navbar-default {
  background-color: #fff;
  border-color: #fff;
}

.index-content {
  text-align: center;
}

h1.index-content__index-title {
  font-family: "Roboto";
  font-size: 4em;
}

.index-content__moustache {
  width: 100%;
  margin: auto;
  display: block;
  background: url("/images/moustache.png") 86% 0 no-repeat;
  height: 270px;
  background-size: contain;
}

.index-content__index-title {
  .index-title__name {
    font-size: 0.5em;
    line-height:0.5em;
  }
}
