.index-content {
  text-align: center;
}

h1.index-content__index-title {
  font-family: "Roboto";
  font-family: "Philosopher";
  font-size: 3.5em;
}

.index-content__moustache {
  width: 100%;
  margin: auto;
  display: block;
  background: url("/images/moustache.png") 5px 0 no-repeat;
  height: 135px;
  background-size: contain;
}

.index-content__index-title {
  .index-title__name {
    font-size: 0.5em;
    line-height:0.5em;
  }
}
