.index-content {
  text-align: center;
}

h1.index-content__index-title {
  margin-top: 10%;
  color: #121212;
  font-family: "Montserrat";
  font-size: 10rem;
  font-weight: 700;
  letter-spacing: -1px;
}

a.index-title__chevron:hover{
a.index-title__chevron:focus{
a.index-title__chevron:active{
  border: none;
  .glyphicon-chevron-down {
    color: #121212;
  }
}

.index-title__chevron {
  .glyphicon-chevron-down {
    font-weight: 300;
    font-size: 0.5em;
    color: rgba(0, 0, 0, 0.32);
  }
}

.index-title__text {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
a:hover {
  .index-title__text {
    border-color: #B02B2C;
  }
}

.index-content__moustache {
  width: 100%;
  margin: auto;
  display: block;
  background: url("/images/moustache.png") 5px 0 no-repeat;
  height: 135px;
  background-size: contain;

  .moustache__action-text {
    width: 100px;
    margin: auto;
    h2 {
      border: 1px solid white;
      font-family: "Open Sans";
      color: white;
    }
  }
}
