@import "variables";

@media (min-width: 1200px) {
  .tags {
    display: block;
    position: fixed;
    top: 100px;
    right: 25px;
  }
}

@media (min-width: 1020px) {
  .pagination {
    display: block;
    position: fixed;
    bottom: 0px;
    right: 25px;
  }
  .pagination-mobile {
    display: none;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 1020px) {
  $p-font-size: 1em;

  .logo {
    position: absolute;
  }
  .navbar-right {
    right: 10px;
  }
  .page-links {
    position: absolute;
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .article-list__article-summary {
    border-bottom: 1px solid;
    border-color: rgba(0,0,0,.1);

    p { 
      font-size: $p-font-size;
    }
  }

  pre code{
    font-size: $p-font-size * 0.8;
  }

  p, ul li {
    font-size: $p-font-size;
  }

  .article-summary__article-title {
    .article-summary__published-date { 
      font-size: $p-font-size * 0.6;
      color: rgba(0, 0, 0, 0.32);
      font-weight: 300;
    }

    font-size: $p-font-size * $heading-multiplication * 0.9;
    font-weight: $heading-weight;
  }

  .article-summary__readmore {
    line-height: $p-font-size * 3;
  }

  .article {
    h3 {
      font-size: $p-font-size * 1.5;
      margin-top: 1.4em;
    }
  }

  .article pre, 
  .article-list__article-summary pre {
    font-size: $p-font-size * 0.8;
    line-height: $p-font-size * 1.25;
    padding: 10px 0px 10px 20px;
    margin: 0 0 1.8em 0px;
  }

  h1.article__article-title {
    font-size: $p-font-size * 1.9;
    margin-bottom: $p-font-size * 1.1;
    font-weight: $heading-weight;
    color: #333;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
}
