@import "variables";

h1.projects-title {
  // font-size: 1.8em;
  // font-weight: 600;
  // padding-bottom: 15px;
  // border-bottom: 1px solid $bordergrey;
  font-size: 2.75em;
  font-weight: 900;
  color: #333;
}


span.projects-title__subtext {
  font-family: "Lato";
  letter-spacing: 0px;
  font-size: 1em;
  font-weight: 300;
  padding-left: 2px;
}

.projects {
  text-align: left;

  li {
    margin-bottom: 10px;
  }

  ul {
    list-style-type: hiragana-iroha;
  }
}

a.project__link {
  font-size: 1.1em;
  color: $darkblue;
  font-weight: bold;
  font-family: 'Source Sans Pro';
  border-bottom: 1px transparent;

  &:hover {
    border-bottom: 1px solid #333;
  }
}

.project__intro {
  font-family: "Lato";
  letter-spacing: 0px;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  padding-left: 2px;
}

