$p-font-size: 1.1em;
$p-line-height: 1.75em;
$maroon: #B02B2C;
$body-font: 'Lora';
$heading-font: 'Montserrat';
$heading-multiplication: 1.4;
$heading-letter-spacing: -1px;
$heading-weight: 900;
$sub-heading-weight: 900;
$article-page-title: 'Montserrat';
$article-title-date-font: 'Lato';
