$p-font-size: 1.2em;
$p-line-height: 1.55em;
$maroon: #B02B2C;
$body_font: 'Georgia';
// $body-font: "Merriweather";
// $heading_font: "Roboto Slab";
$heading-font: 'Roboto';
$heading-letter-spacing: -1px;
$heading-weight: 900;
$sub-heading-weight: 900;
$article-page-title: 'Montserrat';
$article-title-date-font: 'Lato';
