$p-font-size: 1.1em;
$maroon: #B02B2C;
// $body_font: "Roboto";
$body-font: "Merriweather";
// $heading_font: "Roboto Slab";
$heading-font: "Montserrat";
$heading-letter-spacing: -1px;
$heading-weight: 900;
