$p-font-size: 1.1em;
$p-line-height: 1.6em;
$p-date-font-multiplication: 0.6;

$red: #c7254e;
$maroon: #B02B2C;
$lightgrey: rgba(0, 0, 0, 0.6);
$darkgrey: #333;
$midnightblue: rgb(44, 62, 80);
$darkblue: rgb(52, 73, 94);

$body-font: 'Source Sans Pro';
$body-letter-spacing: -1px;

$index-heading-font: 'Montserrat';

$heading-font: 'Source Sans Pro';
$heading-multiplication: 1.5;
$heading-letter-spacing: 0px;
$heading-weight: 600;

$sub-heading-weight: 600;
$article-page-title-font: 'Source Sans Pro';
$article-title-date-font: 'Lato';
$article-title-date-multiplication: 0.5;

$article-summary-title-date-font: 'Lato';
$article-summary-title-date-multiplication: 0.5;
$article-summary-title-font: 'Source Sans Pro';

$container-width: 500px;
