<% wrap_layout :layout do %>
  <div class="article row">
    <h1 class="page-header article__article-title">
      <%= current_article.title %><br>
      <span>Published on <%= current_article.date.strftime("%b %d, %Y") %></span>
    </h1>
    <%= yield %>
  </div>
<% end %>
