.headroom--pinned {
  display: block;
  transform: translateY(0%); }

.headroom--unpinned {
  display: none;
  transform: translateY(-100%); }

.headroom {
  will-change: transform;
  transition: transform 200ms linear; }
