h1.projects__header {
  font-size: 2.75em;
  font-weight: 600; }

.projects {
  text-align: left; }
  .projects li {
    margin-bottom: 10px; }

a.project--link {
  font-size: 1.3em;
  color: #34495e;
  font-weight: bold;
  font-family: 'Source Sans Pro'; }
