.highlight .hll {
  background-color: rgba(255, 249, 249, 0.1);
  background-color: #fff; }

.highlight {
  color: #555; }

.highlight .c {
  color: #0066FF;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #555; }

/* Error */
.highlight .g {
  color: #555; }

/* Generic */
.highlight .k {
  color: #1E39F6; }

/* Keyword */
.highlight .l {
  color: #555; }

/* Literal */
.highlight .n {
  color: #555; }

/* Name */
.highlight .o {
  color: #555; }

/* Operator */
.highlight .x {
  color: #555; }

/* Other */
.highlight .p {
  color: #555; }

/* Punctuation */
.highlight .cm {
  color: #0066FF;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #1E39F6;
  font-style: italic; }

/* Comment.Preproc */
.highlight .c1 {
  color: #0066FF;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #0066FF;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #555;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .ge {
  color: #555;
  text-decoration: underline; }

/* Generic.Emph */
.highlight .gr {
  color: #555; }

/* Generic.Error */
.highlight .gh {
  color: #555; }

/* Generic.Heading */
.highlight .gi {
  color: #555;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .go {
  color: #DFDFDF; }

/* Generic.Output */
.highlight .gp {
  color: #555; }

/* Generic.Prompt */
.highlight .gs {
  color: #555; }

/* Generic.Strong */
.highlight .gu {
  color: #555; }

/* Generic.Subheading */
.highlight .gt {
  color: #FFFFFF;
  background-color: #990000; }

/* Generic.Traceback */
.highlight .kc {
  color: #1E39F6; }

/* Keyword.Constant */
.highlight .kd {
  color: #1E39F6; }

/* Keyword.Declaration */
.highlight .kn {
  color: #1E39F6; }

/* Keyword.Namespace */
.highlight .kp {
  color: #1E39F6; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #1E39F6; }

/* Keyword.Reserved */
.highlight .kt {
  color: #1E39F6; }

/* Keyword.Type */
.highlight .ld {
  color: #555; }

/* Literal.Date */
.highlight .m {
  color: #0000A2; }

/* Literal.Number */
.highlight .s {
  color: #007B22; }

/* Literal.String */
.highlight .na {
  color: #0000A2; }

/* Name.Attribute */
.highlight .nb {
  color: #555; }

/* Name.Builtin */
.highlight .nc {
  color: #555; }

/* Name.Class */
.highlight .no {
  color: #D51015; }

/* Name.Constant */
.highlight .nd {
  color: #555; }

/* Name.Decorator */
.highlight .ni {
  color: #555; }

/* Name.Entity */
.highlight .ne {
  color: #555; }

/* Name.Exception */
.highlight .nf {
  color: #0000A2; }

/* Name.Function */
.highlight .nl {
  color: #007B22; }

/* Name.Label */
.highlight .nn {
  color: #555; }

/* Name.Namespace */
.highlight .nx {
  color: #555; }

/* Name.Other */
.highlight .py {
  color: #555; }

/* Name.Property */
.highlight .nt {
  color: #1E39F6; }

/* Name.Tag */
.highlight .nv {
  color: #1E39F6; }

/* Name.Variable */
.highlight .ow {
  color: #1E39F6; }

/* Operator.Word */
.highlight .w {
  color: #555; }

/* Text.Whitespace */
.highlight .mf {
  color: #0000A2; }

/* Literal.Number.Float */
.highlight .mh {
  color: #0000A2; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #0000A2; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #0000A2; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #007B22; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #007B22; }

/* Literal.String.Char */
.highlight .sd {
  color: #007B22; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #007B22; }

/* Literal.String.Double */
.highlight .se {
  color: #007B22; }

/* Literal.String.Escape */
.highlight .sh {
  color: #007B22; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #007B22; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #007B22; }

/* Literal.String.Other */
.highlight .sr {
  color: #007B22; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #007B22; }

/* Literal.String.Single */
.highlight .ss {
  color: #007B22; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #555; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #1E39F6; }

/* Name.Variable.Class */
.highlight .vg {
  color: #1E39F6; }

/* Name.Variable.Global */
.highlight .vi {
  color: #1E39F6; }

/* Name.Variable.Instance */
.highlight .il {
  color: #0000A2; }

/* Literal.Number.Integer.Long */
