<div class="navbar">
  <a href="/" class="navbar-links navbar-links--name pull-left">
    BHM
  </a>
  <a href="/posts" class="navbar-links pull-right">
    Posts
  </a>
  <a href="/projects" class="navbar-links pull-right">
    Projects
  </a>
  <a href="https://sg.linkedin.com/in/boahoman" class="navbar-links pull-right" target="_blank">
    Contact
  </a>
</div>
