<nav class="navbar navbar-default">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsible-content" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-links navbar-links--name pull-left">
        BHM
      </a>
  </div>

  <div class="collapse navbar-collapse" id="navbar-collapsible-content">
    <a href="/posts" class="navbar-links pull-right">
      Posts
    </a>
    <a href="/projects" class="navbar-links pull-right">
      Projects
    </a>
    <a href="https://sg.linkedin.com/in/boahoman" class="navbar-links pull-right" target="_blank">
      LinkedIn
    </a>
  </div>
</nav>
