<div class="container">
  <div class="tags">
    Tag Cloud </br>
    <% blog.articles.map(&:tags).flatten.uniq.each do |tag| %>
      <%= link_to tag, tag_path(tag), class: 'tags-link' %>
    <% end %>
  </div>
</div>
