<div class="bio">
  <h1 class="bio__header">Biography</h1>
  <p>
  Boa Ho Man is currently a software engineer with Pocketmath, a self-serve mobile advertising platform. 
  He writes code in a number of languages including Ruby, JavaScript, Golang, Java and Python.
  </p>
  
  <p>
  He studied Computer Science at National University of Singapore and graduated with honors in 2011.
  With encouragement, he spent the next two years on an adventure to create a BI-charting SaaS that was eventually sunsetted.
  Since, he has continued full-stack web development at a number of high-growth start ups such as Wego and honestbee.
  </p>

  <p>
  He is passionate about software engineering and artificial intelligence (mainly applied machine-learning) and intends to 
  further his technical knowledge in these fields with a master's degree in the near future.
  </p>
  <p>
    <a href="https://sg.linkedin.com/in/boahoman" target="_blank" class="fa fa-linkedin-square fa-2x social-media">
    </a> 
    <a href="https://github.com/aranair" target="_blank" class="fa fa-github fa-2x social-media">
    </a>
  </p>

  <p>Or contact him at <span class="social-media__email">boa.homan</span> via gmail.</p>
</div>
