<div class="container">
  <div class="bio">
    <h1 class="bio__header">Biography</h1>
    <p>
    Boa Ho Man is currently a software engineer with Tulip - a manufacturing app platform to help digitize
    factory shop floors through smart apps. He was previously with Pocketmath, Honestbee and Wego
    and has been through different stacks including Ruby/Rails, Node/React/JavaScript, Golang and Python.
    </p>

    <p>
    He graduated from a 4 years Computer Science program at National University of Singapore in 2011.
    He spent the next two years on an adventure to co-found a SaaS company to work on a BI-charting solution for medium-sized
    businesses. Since, he has continued full-stack web development at a number of high-growth start ups such as Wego and honestbee.
    </p>

    <p>
    He is passionate about software engineering and artificial intelligence (mainly applied machine-learning) and intends to
    further his technical knowledge in these fields with a master's degree in the near future.
    </p>
    <p>
      <a href="https://sg.linkedin.com/in/boahoman" target="_blank" class="fa fa-linkedin-square fa-2x social-media">
      </a>
      <a href="https://github.com/aranair" target="_blank" class="fa fa-github fa-2x social-media">
      </a>
    </p>

    <p>Or contact him at <span class="social-media__email">boa.homan</span> via gmail.</p>
  </div>
</div>
