<div class="index-content">
  <h1 class="index-content__index-title">
    <span class="index-title__text">Writings of an Aspiring<br>Web Engineer<br></span>
    <span class="index-title__name">HOMAN</span>
  </h1>
</div>
<div class="clear"></div>
<div class="index-content__moustache"></div>
