---
layout: index
---
<div class="index-content">
  <h1 class="index-content__index-title">
    <span class="index-title__name">I'm Ho Man.</span><br>
    <span class="index-title__job">Software Engineer at Pocketmath.</span><br>
    <br>
  </h1>
  <a href="mailto:boa.homan@gmail.com" class="index__grab-coffee">Let's Grab a Coffee</a>
</div>

<div class="clear"></div>
</div>
