---
layout: index
---
<div class="index-content">
    <h1 class="index-content__index-title">
      <span class="index-title__name">Boa Ho Man,</span><br>
      <span class="index-title__job">Software Engineer</span>
      <br>
      <a class="index-title__chevron" href="/posts">
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true">
        </span>
      </a>
    </h1>
</div>
<div class="clear"></div>
</div>
