---
layout: index
---
<div class="index-content">
  <h1 class="index-content__index-title">
    <span class="index-title__name">I'm Ho Man.</span><br>
    <span class="index-title__job">Software Engineer at Tulip</span><br>
    <br>
  </h1>
  <a href="mailto:boa.homan@gmail.com" class="index__grab-coffee">Let's Grab a Coffee</a>

  <p>
    <a href="https://sg.linkedin.com/in/boahoman" target="_blank" class="fa fa-linkedin-square fa-2x social-media">
    </a>
    <a href="https://github.com/aranair" target="_blank" class="fa fa-github fa-2x social-media">
    </a>
  </p>
</div>
