<div class="index-content">
    <h1 class="index-content__index-title">
      <a href="/posts">
        <span class="index-title__text">Writings of an Aspiring<br>Web Engineer<br></span>
      </a>
      <span class="index-title__name">HOMAN</span>
    </h1>
</div>
<div class="clear"></div>
<div class="index-content__moustache">
</div>
