<div class="index-content">
  <h1 class="index-content__index-title">
    <span class="index-title__text">Writings of a <br>Full Stack Web Dev<br></span>
    <span class="index-title__name">HOMAN</span>
  </h1>
  <div class="index-content__moustache"></div>
</div>
