<div class="projects">
  <h1 class="projects__header">Projects</h1>
  <p><a href="http://github.com/aranair/dotfiles">Dotfiles</a></p>
  <p><a href="http://github.com/aranair/heka-bigquery">Heka Plugin - BigQuery</a></p>
  <p><a href="http://github.com/aranair/remindbot">Remindbot (Telegram Bot on Golang)</a></p>
  <p><a href="http://snippy-homan.herokuapp.com">Snippy (on Heroku)</a></p>
  <p><a href="http://www.ucsc.sg">United Condo Squash Club</a></p>
  <p><a href="http://ucsc-nsl.herokuapp.com">UCSC Squash Feeds</a></p>
  <p><a href="http://tinytasks.herokuapp.com">Tinytasks</a></p>
  <p><a href="https://github.com/aranair/turbolinks_animations">turbolink_animations</a></p>
  <p><a href="http://ajensha.herokuapp.com">Ajensha Consulting</a></p>
</div>
