<div class="container">
  <div class="projects">
    <h1 class="projects-title">
      Projects<br>
    </h1>
    <span class="projects-title__subtext">
      It's not always easy to find things I really wanna work on. Being a perfectionist and wanting to evaluate everything
      before starting doesn't help either. Fortunately, I did manage to complete and even blogged about some of them, so here is
      the small list.
    </span>
    <hr>
    <ul>
      <li>
        <a class="project__link" href="http://github.com/aranair/aranair.github.io">aranair.github.io</a></br>
        <span class="project__intro">The code of this site: a middleman backed tech blog.</span>
      </li>
      <li>
        <a class="project__link" href="https://github.com/aranair/rtscli">rtscli</a></br>
        <span class="project__intro">A CLI stock ticker built with Python / urwid</span>
      </li>
      <li>
        <a class="project__link" href="https://github.com/aranair/docker-elasticsearch-ecs/tree/master">docker-elasticsearch-ecs</a></br>
        <span class="project__intro">Docker setup for Elasticsearch cluster in ECS</span>
      </li>
      <li>
        <a class="project__link" href="http://github.com/aranair/remindbot">Remindbot (Golang Telegram Bot)</a><br>
        <span class="project__intro">Personal reminder assistant in that helps me manage reminders on Telegram</span>
      </li>
      <li>
        <a class="project__link" href="http://snippy-homan.herokuapp.com">Snippy (on Heroku)</a><br>
        <span class="project__intro">A snippets store that features fuzzy search and code highlighting,  written in MeteorJS</span>
      </li>
      <li>
        <a class="project__link" href="http://www.ucsc.sg">United Condo Squash Club</a><br>
        <span class="project__intro">The community site and blog that I've built and maintained for my squash club</span>
      </li>
      <li>
        <a class="project__link" href="http://github.com/aranair/dotfiles">Dotfiles: vim, tmux, tmuxinator etc...</a></br>
        <span class="project__intro">Github repo of dotfiles that I use for my vim, tmux, tmuxinator, bash etc</span>
      </li>
    </ul>

    <hr>
    <%# <h1 class="projects-title">Older Projects</h1> %>
    <ul>
      <li>
        <a class="project__link" href="http://ajensha.herokuapp.com">Ajensha Consulting</a><br>
        <span class="project__intro">My very first freelance project, for which I learnt Ruby on Rails.</span>
      </li>
      <li>
        <a class="project__link" href="http://github.com/aranair/heka-bigquery">Heka Plugin - BigQuery</a><br>
        <span class="project__intro">A plugin written in Golang for `Wego`. It is a Heka plugin that consumes data form a Kafka stream that
          periodically uploads into BigQuery.</span>
      </li>
      <li>
        <a class="project__link" href="http://ucsc-nsl.herokuapp.com">UCSC Squash Feeds</a><br>
          <span class="project__intro">Mobile-first, fake-it-till-you-make-it kind of site that mimics the experience of a mobile app.
          This was originally meant for the updates for our annual squash league. Best viewed on a mobile app!</span>
      </li>
      <li>
        <a class="project__link" href="http://tinytasks.herokuapp.com">Tinytasks</a><br>
        <span class="project__intro">A quick prototype app for managing tasks written in EmberJS</span>
      </li>
    </ul>
  </div>
</div>
