<div class="projects">
  <h1 class="projects-title">The Fun Stuff!</h1>
  <ul>
    <li>
      <a class="project__link" href="http://github.com/aranair/aranair.github.io">aranair.github.io</a></br>
      The code of this site: a middleman backed tech blog.
    </li>
    <li>
      <a class="project__link" href="https://github.com/aranair/docker-elasticsearch-ecs/tree/master">docker-elasticsearch-ecs</a></br>
      Docker setup for Elasticsearch cluster in ECS
    </li>
    <li>
      <a class="project__link" href="http://github.com/aranair/remindbot">Remindbot (Telegram Bot w Golang)</a><br>
      Golang Telegram Bot - Personal assistant in Telegram that helps us automatically set up a list of reminders
    </li>
    <li>
      <a class="project__link" href="http://github.com/aranair/dotfiles">Dotfiles: vim, tmux, tmuxinator etc...</a></br>
      Github repo of dotfiles that I use for my vim, tmux, tmuxinator, bash etc
    </li>
    <li>
      <a class="project__link" href="http://www.ucsc.sg">United Condo Squash Club</a><br>
      The community site and blog that I've built and maintained for my squash club
    </li>
    <li>
      <a class="project__link" href="http://ajensha.herokuapp.com">Ajensha Consulting</a><br>
      My very first freelance project, for which I learnt Ruby on Rails.
    </li>
    <li>
      <a class="project__link" href="http://github.com/aranair/heka-bigquery">Heka Plugin - BigQuery</a><br>
      A plugin written in Golang for `Wego`. It is a Heka plugin that consumes data form a Kafka stream that
      periodically uploads into BigQuery.
    </li>
    <li>
      <a class="project__link" href="http://snippy-homan.herokuapp.com">Snippy (on Heroku)</a><br>
      A snippets store that features fuzzy search and code highlighting,  written in MeteorJS
    </li>
    <li>
      <a class="project__link" href="http://ucsc-nsl.herokuapp.com">UCSC Squash Feeds</a><br>
      Mobile-first, fake-it-till-you-make-it kind of site that mimics the experience of a mobile app.
      This was originally meant for the updates for our annual squash league. Best viewed on a mobile app!
    </li>
    <li>
      <a class="project__link" href="http://tinytasks.herokuapp.com">Tinytasks</a><br>
      A quick prototype app for managing tasks written in EmberJS
    </li>
  </ul>
</div>
